html {
  height: 85%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #2F4F4F;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  min-height: 100%;
  padding-bottom: 6rem;
  position: relative;
}
.container-wrap {
  margin: 80px auto 0 auto;
  max-width: 1500px;
  width: 94%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: small;
}
.nav-container {
  margin: auto;
  color: 'white';
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#gridContainer {
  height: 600px;
}
.myClass {
  vertical-align: middle !important;
}
.dx-filterbuilder-overlay .dx-scrollable-container {
  max-height: 550px;
}