.body {
    margin: 5px;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:auto;
    margin-right:auto;
}
.tg td{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .cell-time{
    border-color: inherit;
    text-align: right;
    vertical-align: top
}

.tg .cell-name{
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .head-blank{
    border-color: inherit;
    text-align: right;
    vertical-align: top
}

.tg .head-cl{
    background-color: #3166ff;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .head-pl{
    background-color: #f8ff00;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .head-al{
    background-color: #34ff34;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}