.navBar {
    margin: 5px;
    width: 50%;
    padding: 10px;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 5px;
    text-align: center;
    border: 3px solid red;
    padding: 5px
}

.column {
    display: table-cell;
}